header{
  background-color: #f6f2f2;
  .container{
    background-color: #313030;
    height: 60px;

    .nav__link{
      text-transform: uppercase;
    }
    .nav__link{
      display: flex;
      align-items: center;
      .link-icon{
        margin: 10px;
      }
    }
    .header__logo{
      font-family: 'Lemonada', cursive;
      color: #e0e0e0;
      display: flex;
      justify-content: flex-end;
      hr{
        background-color: #ff2d2d;
      }
    }
  }
}

.banner__org{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #f6f2f2;
  .block__info{
    text-align: center;
    h3{
      font-size: larger;
    }
    p{
      font-size: 12px;
    }
    button{
      width: 150px;
      height: 35px;
      border-radius: 5px;
      background-color: #ff2d2d;
      border: none;
      color: white;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .block{
    h5{
      font-size: 15px;
    }
  }
}

.banner__provide{
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  .block__info{
    text-align: center;
    h3{
      font-size: larger;
      text-transform: uppercase;
    }
    p{
      font-size: 12px;
    }
    button{
      width: 150px;
      height: 35px;
      border-radius: 5px;
      background-color: #ff2d2d;
      border: none;
      color: white;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

.banner__products{
  .container{
    display: flex;
    justify-content: center;
  }
  .block__info{
    text-align: center;
    h3{
      font-size: larger;
      text-transform: uppercase;
    }
    p{
      font-size: 12px;
      width: 200px;
    }
    hr{
      width: 100px;
      background-color: #ff2d2d;
    }
  }
  .block__link-img{
    .link{
      color: #707070;
    }
  }
}



footer{
  background-color: #313030;
  color: white;

  .block__company{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    p{
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
  }
}